/* Index */

* {
  padding: 0;
  margin: 0;
  color: white;
}

.contentText {
  width: 800px;
  background-color: black;
  border-radius: 20px;
}

@media (max-width: 995px) {
  .contentText {
    width: 500px;
  }
}

@media (max-width: 545px) {
  .contentText {
    width: 300px;
  }
}

@media (max-width: 345px) {
  .contentText {
    width: 220px;
  }
}

.header1 {
  height: 10vh;
}

.header {
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerInfo {
  background-image: url(../src/images/stock-1863880.jpg);
}

.content {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.SAC {
  background-image: url(../src/images/tally-6560591.jpg);
}

.SAF {
  background-image: url(../src/images/keyboard-338502.jpg);
}

.investments {
  background-image: url(../src/images/business-861325.jpg);
}

.quotes {
  background-image: url(../src/images/stock-1863880.jpg);
}

.navbar {
  height: 8vh;
}

.contentFooter {
  height: 92vh;
  background-color: black;
  color: white;
}

.footer {
  height: 8vh;
  background-color: black;
  color: white;
}

@media (max-width: 345px) {
  .contentFooter {
    font-size: small;
  }

  .footer {
    font-size: 12px;
  }

  #footerButton {
    font-size: small;
  }
}

.email {
  text-decoration: underline;
}

/* Coins */

.crypto {
  background-image: url(./images/crypto-4232113.jpg);
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coinTable {
  border-radius: 1rem;
  max-width: 36rem;
  font-size: 20px;
}

@media (max-width: 310px) {
  .coinTable {
    font-size: 17px;
  }
}

.conversorOptions {
  color: black;
}

/* Crypto */

.coins {
  background-image: url(./images/currency-163476.jpg);
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cryptoTable {
  border-radius: 1rem;
  max-width: 36rem;
  font-size: 1.2rem;
}

@media (max-width: 770px) {
  .cryptoTable {
    font-size: 17px;
  }
}

@media (max-width: 555px) {
  .cryptoTable {
    font-size: 15px;
  }
}

@media (max-width: 495px) {
  .cryptoTable {
    font-size: 10px;
  }
}

.iconImage {
  max-width: 1.4rem;
}

/* SAF / Investments */
.investmentsForm {
  background-image: url(./images/chart-2779102_1920.jpg);
  height: 92vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formValues {
  min-width: 610px;
  background-color: #8d4444;
  border-radius: 20px;
}

@media (max-width: 610px) {
  .formValues {
    min-width: 200px;
  }
}
